<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>340560776150-3shubm6es21i9igjbihv6h0oroib6gjn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340560776150-3shubm6es21i9igjbihv6h0oroib6gjn</string>
	<key>API_KEY</key>
	<string>AIzaSyDwyAMed5NGNzxbCwEkbXiA0D_rze2g5n4</string>
	<key>GCM_SENDER_ID</key>
	<string>340560776150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialAplication</string>
	<key>PROJECT_ID</key>
	<string>socail-app-73fc6</string>
	<key>STORAGE_BUCKET</key>
	<string>socail-app-73fc6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340560776150:ios:2b8660a71f615b35603277</string>
</dict>
</plist>